<h1>Log In</h1>

<hr>
<div class="col-md-6">
<%= form_for(:session, url: login_path) do |f| %>
	<div class="form-group">
		<h4><%= f.label :email %></h4>
		<%= f.text_field :email, class: "form-control" %>
	</div>

	<%= f.submit "Login", class: "btn-primary btn-lg" %>
<% end %>
</div>