<div class="col-md-6">
<h2>Upcoming Events</h2>

<ul class="list-group">
	<%= render @future_events %>
</ul>
</div>
<div class="col-md-6">

<h2>Past Events</h2>

<ul class="list-group">
	<%= render @past_events %>
</ul>
</div>